body {
  background-color: #000;
  margin: 0;
}

.red-frame {
  padding: 10px;
  border: 1px solid #e95d49;
}

.blue-frame {
  width: 350px;
  margin: 20px 20px 40px;
  box-sizing: border-box;
  background-color: #308dc0;
}

.yellow-frame {
  background-color: #ffa500;
}

.text {
  background-color: #ddd;
}
